<style>
    label {
        width: 100px;
        display: inline-block;
    }

    input { 
        width: 150px; 
        margin-bottom: 10px; 
        border: 2px solid #ccc;
        background-color: #fcfcfc;
        height: 40px;
        font-family: arial;
        font-size: 20px;
        color: #666;
    }

    button {
        height: 35px; width: 80px;
        margin-bottom: 20px;
        margin-left: 105px;
    }

    body {
        padding: 50px;
    }

    hr {
        height: 1px;
        background-color: #ccc;
        border: none;
    }
</style>

<label>Tinggi</label>
<input type="text" id="tinggi"> m<br>
<label>Berat</label>
<input type="text" id="berat"> kg<br>
<button id="kira" onclick="kira()">KIRA</button><br>

<hr>
<label>BMI</label>
<input type="text" id="bmi"> <!-- akan memaparkan nilai BMI -->

<script>
    function kira() {
        // mendapatkan data dan membina FormData
        let myFormData = new FormData;
        myFormData.append('tinggi', document.getElementById('tinggi').value);
        myFormData.append('berat', document.getElementById('berat').value);

        // menghantar data ke bmi.php
        fetch('bmi.php', {
            method: 'POST',
            body: myFormData,
        })
        .then(response => response.json()) // memformatkan data ke JSON
        .then(data => { // memproses data yang diterima
            kemaskini_bmi(data)
        })
        .catch((error) => { // menangani ralat
            alert('Masalah komunikasi')
        });
    }

    // fungsi untuk mengemaskini halaman
    function kemaskini_bmi(data) {
        document.getElementById('bmi').value = data.bmi;
    }

</script>











